<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="tests">

    <test name="TestAndroidReal">
        <classes>
            <class name="testngparallelwithTest.ParallelTestingTests" />
        </classes>
    </test>

<!--    <test name="TestAndroidSimulator">-->
<!--        <classes>-->
<!--            <class name="testngparallelwithTest.ParallelTestingTests2" />-->
<!--        </classes>-->
<!--    </test>-->

    <test name="TestAndroidSimulatorios">
        <classes>
            <class name="testngparallelwithTest.ParallelTestingTestsios" />
        </classes>
    </test>

</suite>